	html {
		padding: 0;
		margin: 0 auto;
	}
	
	body {
		background:url(bilder/Hintergrund_schraeg_2_2.png);
		font: 80% Arial, Helvetica, sans-serif;
		line-height: 1.5;
		color: black;
		margin: 0em 1em 0 1em;
		min-width: 20em;
	}
	
	#kopfbereich {
		background:url(bilder/Dragon_small.png) repeat-x;
		height:150px;	/* Höehe des Kopfbereiches */
		border-radius:10px;
		margin-bottom: 0.75em; /* Abstand unter Kopfbereich */
	}
				 
	#kopfbereich p {
		font-family:"Lucida Handwriting";
		color:#9F9F9F;
		text-align:right;
		font-size:2.5em;
		padding: 0em 0.5em;
	}
	
	h1 {
		text-align: center;
		font-size: 2em;
	}
	
	h3 {
		font-weight: normal;
		letter-spacing: 1px;
		line-height: 1.3em;
		font-size: 1.3em;
		text-align: justify;
		padding: 0em 1.5em 3em 1.5em;
	}
	
	/* Menü-Zeile */
	
	ul {
		list-style-type: none;
		margin: 0em 0em 0.75em 0em; /* Abstand unter Menüleiste */
		padding: 0;
		border-radius: 1em;
		overflow: hidden;
		background-color: lightgrey;
	}

	li  { float: left; 	font-weight: bold; width: 100%; text-align: center; padding-bottom: 0.5em; } /* nur padding-bottom, sodass Menüpunkte oben und unten direkt an der Leiste enden */
	#re { float: right; font-weight: bold; width: 100%; text-align: center; }

	/* Menueleiste */
	li a, .dropbtn {
		display: inline-block;
		color: black;
		/*padding: 0.25em 3.5em;  Hoehe und Breite der Menueleiste */
		text-decoration: none; /* Links sind nicht unterstrichen */
	}

	li a:hover, .dropdown:hover .dropbtn {
		width: 100%;
		border-radius: 1em;
		background-color: grey;
		color: white;
	}

	/* Dropdown-Fenster */
	.dropdown-content {
		display: none;
		position: absolute; /* position: relative; */
		right: 1em; /* Positionierung der Dropdown-Box */
		border-radius: 1em;
		padding: 1em 0em 1em 2em;
		background-color: lightgrey;
		min-width: 17em;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.35);
		z-index: 1;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}
	
	/*Style Table*/
	table {
		border-radius:20px;
		text-align:justify;
		margin: 0em;
		/* width:100%; */
		/* font-size: 1em; */
		background: url(bilder/background_text_repeatXY.png);
		background-color: #b2bfd6; 
		color: rgba(42,42,42,0.7);
		padding:1.2em 0 0 0;
	}
	
	table td{
		border-top:0.25em dotted;
	}
	
	table tr th{
		text-align:center;
		font-size: 1.7em;
	}

	table tr td h5 {
		text-align: left;
		padding-left: 3.5em;
		font-size: 1.3em;
		font-weight: normal;	
	}
	
	table tr td h6 {
		text-align: center;
		font-size: 1.3em;
		font-weight: normal;	
	}
	
	table caption{
		padding-top: 0.5em;
		font-size: 1.7em;
		color: white;
		text-align: left;
	}
	
	/* Style-Ende Table */
	
	section {
		width: 100%;
		border-radius:20px;
		margin: 0em auto;
		padding: 1em 0em 0em 0em;
		border-top-left-radius:20px;
		border-top-right-radius:20px;
		background: url(bilder/background_text_repeatXY.png);
		color: rgba(42,42,42,0.7);
		text-align: center;
	}
	
	
	.dragako {	
		background-color: #b2bfd6; color: rgba(42,42,42,0.7);
	}
	
	.emerald {
		background-color: #0c481e; color: rgba(242,242,242,0.5)
	}
	
	.opal {
		background-color: #ae5013; color: rgba(242,242,242,0.5);
	}
		
	.pearl {
		background-color: #cabc8f; color: rgba(42,42,42,0.7);
	}
	
	.ruby {
		background-color: #760d10; color: rgba(242,242,242,0.7)
	}
	
	
	/* ------------------ */
	/* RESPONSIVE DESIGN: */
	/* ------------------ */
	
	/* ~20em bis ~40em --> Smartphones & Tablets in Hochformat */
	@media only screen and (min-width: 31em) /*31  statt 30.00, da so "Login-Button" nicht in zweite Zeile umbricht */
	{
		body {
			margin: 0em 3em 0em 3em;
		}
		
		h3 {
			padding: 0em 2em 2em 2em;
		}
		
		li {
			width: auto; 		  /* überschreiben der Breite, sodass Menüpunkte in einer Zeile */
			text-align: left;
			padding-bottom: 0em;  /* überschreiben des Abstandes nach unten */
			} 
		
		.dropdown-content { right: 3em; } /* Positionierung der Dropdown-Box */
		
		li a, .dropbtn {
			padding: 0.25em 3.5em;  /* Hoehe und Breite der Menueleiste */
			}
			
		li a:hover, .dropdown:hover .dropbtn {
		width: auto;
	}
		
		#re { float: right; width: auto; text-align: left;}
	}
	
	
	/* ~40em bis ~60em --> Tablets in Querformat  2 SPALTEN-LAYOUT*/
	@media only screen and (min-width: 50em) {					
		body {
			margin: 0em 5em 0em 5em;
		}
		
		h3 {
			padding: 0em 2.5em 2.5em 2.5em;
		}
		
		.dropdown-content {
			right: 5em;
		}
		
		.dragako {
			break-after: right;
		}
		
		.row {
			display: flex; /* gleiche Hoehe aller Kinder */
		}
		
		.emerald	{width: auto; float: left;  margin: 0em 0.75em 0.75em 0em; } /* rechts & unten Abstand */
		.opal 		{width: auto; float: right; margin: 0em 0em 0.75em 0.75em; } /* links & unten Abtstand */
		.pearl 		{width: auto; float: left;  margin: 0.75em 0.75em 0em 0em; } /* oben und rechts Abstand */
		.ruby 		{width: auto; float: right; margin: 0.75em 0em 0em 0.75em; } /* oben und links Abstand */
	}
	
	
	/* ~60em bis ~80em --> klassische Browseransicht */
	
	
	
	
	/* größere Bildschirme - 4 SPALTEN LAYOUT */
	@media only screen and (min-width: 110em) {			
		body {
			margin: 0em 10em 0em 10em;
		}
		.dropdown-content {
			right: 10em;
		}
		
		.section{
			width: 25%;
			margin:0;			
		}	
		
		.col {
			display: flex;  /* gleiche Breite aller Kinder  */
		}
			
		.dragako 	{ width: auto; float: left; margin: 0em 1.5em 0em 0em; }
		.emerald	{ width: auto; float: left; margin: 0em 1.5em 0em 0em; } 
		.opal 		{ width: auto; float: left; margin: 0em 1.5em 0em 0em; }
		.pearl 		{ width: auto; float: left; margin: 0em 1.5em 0em 0em; }
		.ruby 		{ width: auto; float: left; margin: 0em } /* kein Abstand nach rechts, da direkt an Rand */		
	}
	/* ----------------------- */
	/* RESPONSIVE DESIGN ENDE: */
	
	

	/*Style für die Login Seite*/
	
	#login{
		background: url(bilder/background_text_repeatXY.png);
		background-color:#b2bfd6;
		color: rgba(42,42,42,0.7);
		font-size:1em;
		padding:1.2em 0 0 0;
		border-radius:20px;
	}	

	form{
		width: 20em;
		margin-top: 2em;
		margin-left:2em;
	}

	input {
		margin: 0 0 1.5em 0em;
		
	}

	label {
		float: left;
		text-align: left;
		width: 10em;
	}
	
	/* Ende-Style für die Login Seite*/