	html, body {
		padding: 0;
		margin: 0;
	}
	
	body {
		background:url(bilder/Hintergrund_schraeg_2_2.png);
		font: 80% Arial, Helvetica, sans-serif;
		line-height: 1.5;
		color: black;
		margin: 0em 5em 0 5em;
		padding: 0;
	}

	#back{
		background-color:black rgba(0,0,0,1);
	}
	
	/* .twitterbird_dra{
		margin-bottom: 10px;
		width: 60px;
		height:60px;
		display:block;
		background:url("bilder/dragako.png") center top no-repeat rgba(0,0,0,1);
		background-size: 60px 60px;
	}
	
	.twitterbird_point{
		margin-bottom: 10px;
		width: 60px;
		height:60px;
		display:block;
		background:url("bilder/punkte.png") center top no-repeat rgba(0,0,0,1) ;
		background-size: 60px 60px;
	}
	
	.twitterbird_login{
		margin-bottom: 10px;
		width: 60px;
		height:60px;
		display:block;
		background:url("bilder/punkte_alpha.png") center top no-repeat rgba(0,0,0,1);
		background-size: 60px 60px;
	} */
	
	/* #ul li a{
		padding-right:5em;
	}
	
	#ul li a:hover{
		background-color: grey;
	} 
	
	#ul{
		border-radius:20px;
	}	
	
	#ul li{
		list-style:none;
		float:left;
	} */

    #steuerung  {
        margin: 0;
        padding: 0;
        list-style-type: none;
		background-color:grey;
		border-radius:20px;
		
    }

    #steuerung li {
        padding: 0 0 0 4em;
        margin: 0;
		display: inline;

    }

    #steuerung li a:link {
        padding: 1em 2em 1em 2em;
        font-size: 1em;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    #steuerung li a:hover {
        color: white;
    }
	

	/* # steht für ID-Bereich */

	#kopfbereich {
		background:url(bilder/Dragon_small.png) repeat-x;
		height:150px;	
		border-radius:10px;
	}
				 
	#kopfbereich p {
		font-family:"Lucida Handwriting";
		color:#9F9F9F;
		text-align:right;
		font-size:2.5em;
		padding: 0em 0.5em;
	}			 

	@media only screen and (min-width: 50em) {
		#kopfbereich {
			width: 80%;
		}
	}
	
	table {
		/* border-bottom-left-radius: 2em; */
		border: "5";
		border-radius:20px;
		text-align:justify;
		margin: 0em;
		padding: 0em;
		width:100%;
	}
	
	td {
		border:1px solid;
		overflow:hidden;
		vertical-align:top;
	}
  
	h1 {
		text-align: center;
		font-size: 2em;
	}
	
	h3 {
		font-weight: normal;
		letter-spacing: 1px;
		line-height: 1.3em;
		font-size: 1.3em;
		text-align: justify;
		padding: 0em 4em 3em 4em;
	}	

  /*Anfasser für die Punktetabellen (h4,h5,h6)*/

	h4{
		text-align:center;
		font-size: 1.5em;
	}

	h5 {
		text-align: center;
		font-size: 1em;
		font-weight: normal;
	}

	h6 {
		font-weight: normal;
		font-size:1em;
	}

	
	/*#wrapper {
	background-color: lightblue;
	width: 80em;
	height: 25em;
	}
	
	
	#eins {
	font-size:1em;
	text-align: center;
	margin: 0em;
	padding: 0em 0em 0em 1em;
	height: 5em;
	background-color: yellow;
	width: 16em;
	float: left;
	}

	#zwei {
	font-size:1em;
	margin: 0em ;
	padding: 0em 0em 0em 1em;
	height: 5em;
	background-color: green;
	margin-left: 17em;
	} */
	
	section {
		width: 100%;
		border-radius:20px;
		margin: 1em auto;
		padding: 2em 0em 0em 0em;
		border-top-left-radius:20px;
		border-top-right-radius:20px;
		background: url(bilder/background_text_repeatXY.png);
		color: rgba(42,42,42,0.7);
		text-align: center;
	}
	
	
	
	@media only screen and (min-width: 50em) {
		section {
			width: 80%;
		}
	}	
	
	
	
	@media only screen and (min-width: 80em) {		
		.dragako {
			width: 80%;
			margin: 1em auto;
			break-after: right;
		}
		
		.emerald	{width: 40%; float: left; margin-left: 5em;}
		#distance 	{width: 3em; float: left; margin: 1em auto; background-color: green;}
		.opal 		{width: 40%; float: left; break-after: left; }
		.pearl 		{width: 40%; float: left; margin-right: 1em; height: $(".ruby").height();}
		.ruby 		{width: 40%; float: left; /* height:80em; */}	
	}

	
	
	
	.dragako {	
		background-color: #b2bfd6; color: rgba(42,42,42,0.7);
	}
	
	@media only screen and (min-width: 50em) {
		.dragako img{
			width: 20%;
			height: auto;
		}
	}
	
	.emerald {
		background-color: #0c481e; color: rgba(242,242,242,0.5)
	}
	
	.opal {
		background-color: #ae5013; color: rgba(242,242,242,0.5);
	}
		
	.pearl {
		background-color: #cabc8f; color: rgba(42,42,42,0.7);
	}
	
	.ruby {
		background-color: #760d10; color: rgba(242,242,242,0.7)
	}
	
	#links {
		text-align:right;
		background-color:#ceb98e;
		padding: 0 1em 0 1em;	
	}
	
	#Table_punktetabelle_indivuell {
		font-size:1em;
		background: url(bilder/background_text_repeatXY.png);
		background-color: #b2bfd6; 
		color: rgba(42,42,42,0.7);
		padding:1.2em 0 0 0;
	}
	
	#Table_punktetabelle_gemein{
		background: url(bilder/background_text_repeatXY.png);
		font-size:1em;
		background-color: #b2bfd6; 
		color: rgba(42,42,42,0.7);
		padding:1.2em 0 0 0;
	}
  
	#Überschrift01{
		font-size:3em;
		color: white;
	}
  
	#Überschrift02{
		font-size:3em;
		color: white;
	}
	
	/*Style für die Login Seite (Nachfragen ob der Login nicht auch auf der Startseite ausreichen würde*/
	
	#login{
		background: url(bilder/background_text_repeatXY.png);
		background-color:#b2bfd6;
		color: rgba(42,42,42,0.7);
		font-size:1em;
		padding:1.2em 0 0 0;
		border-radius:20px;
	}	
	
	form{
		width: 20em;
		margin-top: 2em;
		margin-left:2em;
	}

	input {
		margin: 0 0 1.5em 0em;
		
	}

	label {
		float: left;
		text-align: left;
		width: 10em;
	}

  </style>